.portfolio{
    background: url('../../assets/wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: calc(100vh - 1.5rem);
    @media screen and (max-width:900px) {
        height: auto;
    }
}